# ─── BD ───
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=db_name
MYSQL_USER=db_user
MYSQL_PASSWORD=db_password  

# ─── BACKEND ───
BACKEND_VERSION=1
BACKEND_PORT=4000

JWT_SECRET=jwt-key
JWT_EXPIRES_IN=7d

# ─── FRONTEND ───
FRONTEND_VERSION=1
FRONTEND_PORT=8000