[submodule "6320936-blogverse-backend"]
    path = 6320936-blogverse-backend
    url = https://github.com/Khaled-AbHe/6320936-blogverse-backend.git

[submodule "6320936-blogverse-frontend"]
    path = 6320936-blogverse-frontend
    url = https://github.com/Khaled-AbHe/6320936-blogverse-frontend.git